@{
    ViewBag.Title = "Category";
}

<div class="container">

    <hgroup class="mb20">
        <h1>Category search</h1>
        <h2 class="lead"><strong class="text-danger">@ViewBag.artigos.Count</strong> results were found</h2>
    </hgroup>

    <section class="col-xs-12 col-sm-6 col-md-12">

        @{foreach (var artigo in ViewBag.artigos)
        {
            <article class="search-result row">
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <a href="~/artigos/artigopage/@artigo.CodArtigo/" title="Lorem ipsum"><img id="cover" src="~/Images/@{@artigo.CodArtigo}.jpg" alt="Cover page" /></a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2">
                    <ul class="meta-search">
                        <li><i class="glyphicon glyphicon-user"></i> <span>@artigo.AutorArtigo</span></li>
                        <li><i class="glyphicon glyphicon-euro"></i> <span>@artigo.precomIvaArtigo</span></li>
                        <li><i class="glyphicon glyphicon-tags"></i> <span>@artigo.CatNomeArtigo</span></li>
                        <li>
                            @for (int stars = 1; stars <= artigo.PesoLArtigo; stars++)
                            {
                                <i class="glyphicon glyphicon-star" style="color:#FFD700"></i>
                            }
                    </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                    <h3><a href="~/artigos/artigopage/@artigo.CodArtigo/" title="">@artigo.DescArtigo</a></h3>
                    <p>@artigo.SinopseArtigo</p>
                    <span class="plus"><a href="#" title="Add to cart"><i class="glyphicon glyphicon-plus"></i></a></span>
                </div>
                <span class="clearfix borda"></span>
            </article>
        }
        }

    </section>


</div>


