@model FirstREST.Models.User

@{
    ViewBag.Title = "Login";
    if (Request.Cookies["errorMessage"] != null)
    {
        ViewBag.errorMessage = Request.Cookies["errorMessage"].Value.ToString();    
    }
    
}

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <fieldset>
        <legend>Login</legend>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
        <table>
            <tr>
                <td>@Html.LabelFor(a => a.Username)</td>
                <td>@Html.TextBoxFor(a => a.Username)</td>
                <td>@Html.ValidationMessageFor(a => a.Username)</td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(a => a.Password)
                </td>
                <td>
                    @Html.PasswordFor(a => a.Password)
                </td>
                <td>
                    @Html.ValidationMessageFor(a => a.Password)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login" />
                </td>
                <td></td>
            </tr>
        </table>
    </fieldset>
    if (@ViewBag.errorMessage != null)
    {
        <h6 style="color:red">@ViewBag.errorMessage</h6>
    }
}  