@model FirstREST.Models.ShoppingCart

@{
    ViewBag.Title = "ArtigoPage";
    var artigo = ViewBag.artigo;
}
<div id="artigopage" class="container">
    <form id="addtoCart" method="post">
        <div class="row">
            <div class="col-md-4 item-photo">
                <img height="400" src="~/Images/@{@artigo.CodArtigo}.jpg" />
            </div>
            <div class="col-xs-5" style="border:0px solid gray">
                <h6 id="title-art-page" style="display:none;">@artigo.CodArtigo</h6>
                <h1 id="desc">@artigo.DescArtigo</h1>
                <h6><small>de  </small> @artigo.AutorArtigo</h6>
                <pre style="font-size:16px; border: 0; background-color: transparent; padding:0; width:120%"><small>Editora:</small> @artigo.EditoraArtigo    <small>ISBN:</small> @artigo.CodBArtigo</pre>
                <h4 style="margin-top:10px;">
                    <span class="stars">
                        @for (int stars = 1; stars <= artigo.PesoLArtigo; stars++)
                        {
                            <i class="glyphicon glyphicon-star" style="color:#FFD700"></i>
                        }
                    </span>
                </h4>

                <h2 id="preco" preco="@artigo.precomIvaArtigo" style="margin-top:35px; margin-bottom:15px;">@artigo.precomIvaArtigo €</h2>


                <div class="section" style="padding-bottom:5px;">
                    <h6 style="margin-bottom:7px;" class="title-attr"><small>Armazém</small></h6>
                    <select id="wh">
                        @{foreach (var wh in artigo.armArtigo)
                        {
                            <option wh="@wh.idArmazens" class="@wh.idArmazens" max_stock="@wh.StkArmazens" value="@wh.descArmazens">@wh.descArmazens</option>
                        }
                        }
                    </select>
                    @{var i = 0;
                    foreach (var wh in artigo.armArtigo)
                    {i++;
                        if (i == 1)
                        {
                            <div id="av" class="section av @wh.idArmazens">@wh.StkArmazens Disponíveis</div>
                        }
                        else
                        {
                            <div id="av" style="display: none" class="section av @wh.idArmazens">@wh.StkArmazens Disponíveis</div>
                        }
                    }
}

                </div>
                <div class="section" style="padding-bottom:20px;">
                    <h6 style="margin-bottom:7px;" class="title-attr"><small>Quantidade</small></h6>
                    <div>
                        <div class="btn-minus"><span class="glyphicon glyphicon-minus"></span></div>
                        <input id="qt" min="1" value="1" max="@artigo.armSugestaoArtigo.StkArmazens" />
                        <div class="btn-plus"><span class="glyphicon glyphicon-plus"></span></div>
                    </div>
                </div>

                <!-- Botones de compra -->
                <div class="section" style="padding-bottom:20px;">
                    @{
                        if (Request.Cookies["UserID"] != null)
                        {
                            <input id="idUser" style="visibility:hidden" value="@Request.Cookies["UserID"].Value.ToString()" />
                            <button class="btn" type="submit" value="addtoCart">Add to Cart</button>
                        }
                        else
                        {
                            <button class="btn btn-success" type="submit"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Adicionar ao carrinho</button>
                        }
                    }
                </div>
            </div>
            <div style="margin-top:15px;" class="col-xs-10">
                <h3>Sinopse</h3>
                <p align="justify" style="font-size:16px;">@artigo.SinopseArtigo</p>
            </div>
        </div>
    </form>

    <div class="items best-sellers col-xs-9">
        <h2 style="margin-bottom:35px; margin-top:50px;">Relacionados</h2>
        @{
            foreach (var related in ViewBag.related)
            {
                if (related.CodArtigo != @ViewBag.artigo.CodArtigo)
                {
                    <div class="item single-article col-xs-3">
                        <img style="margin-bottom:5px;" height="140" src="~/Images/@{@related.CodArtigo}.jpg" alt="item" />
                        <p><a href="/artigos/artigopage/@related.CodArtigo/">@related.DescArtigo</a></p>
                        <p>@related.precomIvaArtigo €</p>
                        <div class="row" style="margin:10px;">
                            <span class="stars">
                                @for (int stars = 1; stars <= related.PesoLArtigo; stars++)
                                {
                                    <i class="glyphicon glyphicon-star" style="color:#FFD700"></i>
                                }
                            </span>
                        </div>
                        <button class="add-to-cart btn" user_id="@Request.Cookies["UserID"]" product_id="@related.CodArtigo" type="button">Adicionar ao Carrinho</button>

                    </div>
                }
            }
        }
    </div>

</div>

<script>
    $(function () {
        $("#wh").on('change', function (e) {
            e.preventDefault();
            var max_stock = $("#wh option:selected").attr("max_stock");
            $('#qt').attr('max', max_stock);

            $(".av").css('display', 'none');

            var disp = ".av." + $("#wh option:selected").attr("wh");
            $(disp).css('display', 'block');
        })

        $(".btn-plus").on('click', function (e) {
            e.preventDefault();
            $('#qt').val(function (i, oldval) {
                var newval = parseInt(oldval) + 1;

                if (newval >= parseInt($("#wh option:selected").attr("max_stock")))
                    return parseInt($("#wh option:selected").attr("max_stock"));
                else
                    return ++oldval;
            });
        })

        $(".btn-minus").on('click', function (e) {
            e.preventDefault();
            $('#qt').val(function (i, oldval) {
                var newval = parseInt(oldval) - 1;
                if (newval >= 1)
                    return --oldval;
                else
                    return 1;
            });
        })

        $("#addtoCart").on('submit', function (e) {
            e.preventDefault() // prevent the form's normal submission
            var dataToPost = {
                CodArtigo: $("#title-art-page").text(),
                DescArtigo: $("#desc").text(),
                PrecoArtigo: $("#preco").attr('preco'),
                ArmazemArtigo: $("#wh option:selected").text(),
                QuantidadeArtigo: parseInt($("#qt").val()),
            }

            $.post("/ShoppingCart/AddtoCart", dataToPost)
                .done(function (r) {
                    console.log("Added product successfully!");
                    window.location.reload();
                })
                .fail(function (r) {
                    console.log("Failed to add the product to the shopping cart");
                    window.location.assign("http://localhost:49822/Account/login/");
                })
        })

        $("#goToLogin").on('click', function () {
            window.location.assign("http://localhost:49822/Account/login/");
        })
    })
</script>