@{
    ViewBag.Title = "displayShoppingCart";

    double totalPrice = 0;
    foreach(var art in ViewBag.shoppingCart){
        totalPrice = totalPrice + art.QuantidadeArtigo * art.PrecoArtigo;
    }
    ViewBag.precoTotal = totalPrice;
}

<div class="container">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/bootstrap/js/bootstrap.js"></script>

    <div class="row"><h2 style="font-weight: bold">Cart</h2></div>
    <div class="row">
        <div class="col-xs-7">
            <table class="sc-page">
              @{
                  for (var i = 0; i < ViewBag.shoppingCart.Count; i++)
                  {
                     var artigo = ViewBag.shoppingCart[i];
                     var warehouses = ViewBag.artigos[i].armArtigo;
                     double precoTotal = artigo.PrecoArtigo * artigo.QuantidadeArtigo;
                        <tr id="@artigo.Id" class=" spacing new-product">
                            <td>
                                <img src="~/Images/book.jpg" alt="item" />
                            </td>
                            <td class="sc-title">
                                <h4 class="desc" value="@artigo.DescArtigo">@artigo.DescArtigo</h4>
                                <input class="codArt" style="display: none" value="@artigo.CodArtigo" />
                                <h4>Categoria</h4>
                                <h4>ISBN</h4>
                                <h4>@artigo.PrecoArtigo €</h4>
                            </td>
                            <td class="wh-select" product_id="@artigo.Id">
                                <h4 style="font-weight: bold">Warehouse</h4>
                                <input class="curr-wh" style="display:none" value="@artigo.ArmazemArtigo" />
                                <select class="sc-select after-title">
                                    @{
                      foreach (var wh in warehouses)
                      {
                          if (wh.descArmazens == artigo.ArmazemArtigo)
                          {
                            <option selected style="width:30px;" value="@wh.descArmazens">@artigo.ArmazemArtigo</option>
                          }
                          else
                          {
                            <option style="width:30px;" value="@wh.descArmazens">@wh.descArmazens</option>
                          }
                      }
                                    }
                                </select>
                                <h3></h3>
                            </td>
                            
                            <td class="sc-quantity">
                                <h4 style="font-weight: bold">Quantidade</h4>
                                <input class="qt" product_id="@artigo.Id" name="quantidadeArtigo" type="number" min="1"  step="1" value="@artigo.QuantidadeArtigo" />
                                <input class="curr-qt" style="visibility: hidden" value="@artigo.QuantidadeArtigo" />
                            </td>
                            <td class="sc-total">
                                <h3 class="sc-total-price">@precoTotal €</h3>
                                <button value="@artigo.Id" class="remove-btn btn-danger">Remove</button>
                                <button class="update-btn btn-success" style="visibility: hidden;" value="@artigo.Id" class="btn-success">Update</button>
                            </td>
                        </tr>
                  }
            }
            </table>        
        </div>
    </div>
    <div style="width: 100%;"class="row">
        <div class="col-xs-2 col-xs-offset-6">
            <h3 style="font-weight:bold">Total Price:</h3>
        </div>
        <div class="col-xs-2">
            <h3>@ViewBag.precoTotal €</h3>
        </div>
        <div class="col-xs-1">
            <button class="checkout-btn" data-toggle="modal" data-target="#finalize">Checkout</button>
        </div>
    </div>



    <div id="finalize" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="modalTitle" class="modal-title">Finalizar Compra</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <th class="name">Produto</th>
                        <th>Armazem</th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                    </tr>
                    @{
                        foreach (var p in ViewBag.scFinal)
                        {
                            var preco = p.QuantidadeArtigo * p.PrecoArtigo;
                            <tr>
                                <td class="name">@p.DescArtigo</td>
                                <td>@p.ArmazemArtigo</td>
                                <td>@p.QuantidadeArtigo</td>
                                <td>@preco</td>
                            </tr>
                        }
                    }
                </table>
                <div class="row end-order">
                    <div class="col-xs-3 col-xs-offset-7">
                        <span style="font-weight:bold">Total Price:</span>
                    </div>
                    <div class="col-xs-2">
                        <span>@ViewBag.precoTotal €</span>
                    </div>
                    <div style=" margin-top: 10%; text-align: center">
                        <button class="finish-btn">Finalizar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>





<script>
    $(function () {
        $(".qt").on('change', function () {
            var diff_div = "#" + $(this).attr('product_id') + " .curr-qt";
            var diff = $(diff_div).val().toString();

            var qt_div = "#" + $(this).attr('product_id') + " .qt";
            var update_btn = "#" + $(this).attr('product_id') + " .update-btn";

            if ($(qt_div).val() != diff) {
                $(update_btn).css('visibility', 'visible');
            }
            else {
                $(update_btn).css('visibility', 'hidden');
            }
        })

        $(".wh-select").on('change', function () {
            var curr_wh_div = "#" + $(this).attr('product_id') + " .curr-wh";
            var diff = $(curr_wh_div).val();

            var wh_div = "#" + $(this).attr('product_id') + " select.sc-select.after-title option:selected";
            var update_btn = "#" + $(this).attr('product_id') + " .update-btn";

            if ($(wh_div).val() != diff) {
                $(update_btn).css('visibility', 'visible');
            }
            else {
                $(update_btn).css('visibility', 'hidden');
            }
        })

        $(".remove-btn").on('click', function (e) {
            e.preventDefault();

            var id_product = $(this).val();

            var dataToPost = {
                Id: id_product
            }

            $.post("/ShoppingCart/RemoveFromCart", dataToPost)
                .done(function (r) {
                    console.log("Removed shopping cart successfully");
                    location.reload();
                })
                .fail(function (r) {
                    console.log("An error ocurred when removing the product from the shopping cart");
                })
        })

        $(".update-btn").on('click', function (e) {
            e.preventDefault();

            var id_product = $(this).val();

            var new_qt_div = "#" + id_product + " .qt";
            var wh_div = "#" + id_product + " select.sc-select.after-title option:selected";
            var cod_art_div = "#" + id_product + " .codArt";
            var desc_art_div = "#" + id_product + " .desc";


            var new_qt =  $(new_qt_div).val();
            var id_user = @ViewBag.idUser;
            var wh = $(wh_div).val();
            var cod_art = $(cod_art_div).val();
            var desc_art = $(desc_art_div).text();

            var dataToPost = {
                Id: id_product,
                QuantidadeArtigo: new_qt,
                IdUser: id_user,
                ArmazemArtigo: wh,
                CodArtigo: cod_art,
                DescArtigo:desc_art
            }

            $.post("/ShoppingCart/UpdateCart", dataToPost)
                .done(function (r) {
                    console.log("Updated shopping cart successfully");
                    location.reload();
                })
                .fail(function (r) {
                    console.log("An error ocurred when updating the shopping cart");
                })
        })

        $(".finish-btn").on('click', function(e){
            e.preventDefault();
            var dataToPost = {};
            console.log("posting");

            $.post("/ShoppingCart/FinishOrder")
                .done(function (r) {
                    console.log("Order created successfully");
                    window.location.reload();
                })
                .fail(function (r) {
                    console.log("An error ocurred when creating the order");
                })
        })
    })
</script>