@{
    ViewBag.Title = "PaginaCliente";
    var cliente = ViewBag.cliente;
    
}

<div class="clientepage container">
    <div class="perfil col-xs-5">
        <h2>Perfil</h2>
        <p>Code: @cliente.CodCliente</p>
        <p>Name: @cliente.NomeCliente</p>
        <p>Address: @cliente.Morada</p>
        <p>Phone Number: 999999999 </p>

       <button class="btn" type="button">Edit Profile</button>
    </div>
    
    <div class="orders col-xs-6">
        <h2>Pending Orders</h2>
        @{ int i = 0;
         foreach (var encomenda in ViewBag.encomendas)
         {
            <div class="single-order">
                <p class="col-xs-6">Order: @encomenda.NumDoc</p>
                <button class="col-xs-6 btn" type="button">Details</button>
            </div>
    <br />

             if (++i == 4) { break; }
         }
}

    <h2>Completed Orders</h2>
    @{int j = 0;
    foreach (var encomenda in ViewBag.encomendas)
    {
        <div class="single-order">
            <p class="col-xs-6">Order: @encomenda.NumDoc</p>
            <button class="col-xs-6 btn" type="button">Details</button>
        </div>
    <br />

        if (++j == 4) { break; }
    }
}
            
</div>
